<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iRacingReplayDirector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <iRacingReplayDirector.Properties.Settings>
            <setting name="WindowOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ShowVisualTimeline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRecordingControls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSessionLapSkipControls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrameSkipInfoShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableSimUIOnPlayback" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableUIWhenRecording" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StopRecordingOnFinalNode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseInSimCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOBSCapture" serializeAs="String">
                <value>False</value>
            </setting>
        </iRacingReplayDirector.Properties.Settings>
    </userSettings>
</configuration>